.rule-line {
  stroke-width: 1;
  stroke: #66CCFF;
}

.finger-column {
  fill: #66CCFF;
  opacity: 0.1;
}

.stroked {
  stroke-width: 1;
  stroke: #222;
}

.darkFill {
  fill: #555;
}

.lightFill {
  fill: #eee;
}

.whiteFill {
  fill: #fff;
}

.buttonLabel {
  text-anchor: middle;
  text-transform: capitalize;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
  fill: #999;
}

svg {
  /* border: 1px dotted white; */
}
