<table class="brick-table">

  <tr>
    <th>Identifier</th>
    <th>Input</th>
    <th>Label</th>
  </tr>

  <% bricks.each do |brick| %>
    <tr>
      <td><%= link_to brick.id, "#{rootpath}/bricks/#{brick.id}/" %></td>
      <td><%= brick.notation(mapper) %></td>
      <td><%= brick.label %></td>
    </tr>
  <% end %>

</table>
