<% active ||= OpenStruct.new({}) %>

<table>
  <tr>
    <th>input</th>
    <th>output</th>
  </tr>

  <% definitions.each do |definition| %>
    <% highlight = definition.notation == active.notation %>
    <tr class="<%= highlight ? 'active' : '' %>">
      <td class="input"><%= link_to_definition(definition) %></td>
      <td class="output"><%= definition.output %></td>
    </tr>
  <% end %>

</table>
