---
title: Brick page
---

<h1 class="brick-title"><%= letter %></h1>

<div id="drawing"></div>
<%= javascript_include_tag  "scratch" %>
<script>
  drawStroke("<%= letter %>", <%= keystrokes %>);
</script>
