---
title: Brick
---

<h1 class="brick-title"><%= letter %></h1>

<img src="/bricks/<%= id %>.svg"/>

<% definitions = data.definitions.select { |defn| defn.bricks.include?(id) } %>

<% unless definitions.empty? %>
  <h2>Definitions that make use of this brick</h2>

  <ul>
    <% definitions.sort_by(&:word).each do |definition| %>
      <li><%= link_to_definition(definition) %></li>
    <% end %>
  </ul>
<% end %>
