---
title: Brick
---

<h1 class="brick-title"><%= brick.label %></h1>

<img src="<%= path_to_svg(brick.id, 'bricks') %>"/>

<% unless definitions.empty? %>
  <h2>Definitions that make use of this brick</h2>

  <%= partial('definitions-table', locals: {definitions: definitions}) %>
<% end %>

<% unless similar.empty? %>
  <h2>Similar bricks</h2>

  <p>These bricks are composed from the same keystrokes:</p>

  <ul class="brick-list">
    <% similar.each do |brick| %>
      <li><%= link_to brick.id, "#{rootpath}/bricks/#{brick.id}/" %></li>
    <% end %>
  </ul>
<% end %>
