---
title: Definition page
---

<h1 class="definition-title"><%= definition[:word] %></h1>

<img src="<%= path_to_svg(definition[:chord]) %>"/>

<% if synonyms.length > 1 %>
  <h2>Synonyms</h2>

  <p>We can produce the output "<%= definition[:word] %>" using any of these definitions:</p>

  <%= partial('definitions-table', locals: {definitions: synonyms, active: definition}) %>
<% end %>
