---
title: Steno Definitions
---

<ul class="definition-list">
  <% data.definitions.sort_by(&:word).each do |definition| %>
    <% chord = mapper.lookup(definition) %>
    <li><%= link_to definition.word, "#{rootpath}/definitions/#{chord}/" %></li>
  <% end %>
</ul>

