---
title: Steno Definitions
---

<ul class="definition-list">
  <% data.definitions.sort_by(&:word).each do |definition| %>
    <li><%= link_to definition.word, "#{rootpath}/definitions/#{definition.word}/" %></li>
  <% end %>
</ul>

