---
title: Plover Steno Cluster Plot Visualization
---

<div id="drawing"></div>
<%= javascript_include_tag "scratch" %>

<p>Browse <%= link_to "steno bricks", "#{rootpath}/bricks" %>.</p>
<p>Browse <%= link_to "steno definitions", "#{rootpath}/definitions" %>.</p>
