---
title: Plover Steno Cluster Plot Visualization
---

<div id="drawing"></div>
<%= javascript_include_tag "scratch" %>

<p>Browse <%= link_to "steno bricks", "/bricks" %>.</p>
<p>Browse <%= link_to "steno definitions", "/definitions" %>.</p>
