---
title: Plover Steno Cluster Plot Visualization
---

<img src="/diagram.svg"/>

<p>Browse <%= link_to "steno bricks", "#{rootpath}/bricks" %>.</p>
<p>Browse <%= link_to "steno definitions", "#{rootpath}/definitions" %>.</p>
